@import 'tailwindcss';
@config '../../tailwind.config.js';

@plugin './hero.ts';

@source '../../node_modules/@heroui/theme/dist*.{js,ts,jsx,tsx}';
/* @source './node_modules/@heroui/theme/dist/components/avatar.js'; */
@source './node_modules/@heroui/theme/dist/components/(avatar|number-input|user).js';

:root {
  --background: #e9f1f9;
  --foreground: #171717;
  --heroui-background: transparent;
  --lt-blue: #90caf9;
  --dk-blue: #03034c;
  --heroui-danger: 4.11 89.62% 58.43%;
  --heroui-danger-300: 3.91 85.8% 48.03%;
  --heroui-danger-400: 4.11 89.62% 58.43%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #00001a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
