@import 'tailwindcss';

@plugin './hero.ts';

@source '../../node_modules/@heroui/theme/dist*.{js,ts,jsx,tsx}';
@source './node_modules/@heroui/theme/dist/components/avatar.js';
/* @source './node_modules/@heroui/theme/dist/components/(avatar|snippet|code|input).js'; */

:root {
  --background: #e9f1f9;
  --foreground: #171717;
  --heroui-background: transparent;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #00001a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
